*{
    margin: 0;
}

/* This styles the entire header */
header {
    display: flex;
    background-color: #192138;
    height: 150px;
    text-wrap: center;
    align-items: center;

    h1 {padding: 35px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-right: 150px;
        background-color: #A6A989;
        }
}

/* This styles the 4 hyperlinks in the header */
#quicklinks {
    position: relative;
    text-align: right;
    list-style-type: none;
    width: 65vw;

    li{
        display: inline;
        color: a#A6A989;
        padding: 15px;
        font-size: 150%;
        text-decoration: underline;
   } 
   li:hover {
        background-color:#555646;
        border-radius: 10px;
        
   }
}

/* This styles the hero image between header and main */
figure{
    image-resolution: 600px 1080px;
}

/* This styles the whole main section with the aboutme and work sections */
main {
    background-color: rgb(255, 255, 255);
}

/* This styles the "about me" section  */
.aboutme{ 
   display: flex;
   border: 5px solid black;
   border-radius: 10px;
   margin: 35px;
   

    h2 {
        font-size: 200%;
        padding: 5px;
        width: 180px;
        text-align: center;
        border: 5px solid #192138;
        border-radius: 10px;
        position: relative;
        margin-top: -35px;
        margin-left: 20px;
        height: fit-content;
        padding: 10px;
        

        

        
    }

}

/* This styles the biography text side (right) of the aboutme section */
.bio{
    font-size: 150%;
    padding: 15px;
    padding-left: 50px;
    width: 1000px;
    
}

/* This styles the "work" section */
.work{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px solid black;
    border-radius: 10px;
    margin: 35px;
    

    section{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    

    h2 {
        margin-right: 1500px;
        font-size: 200%;
        border: 5px outset rgb(44, 138, 66);
        border-radius: 10px;
        position: relative;
        margin-top: -35px;
        margin-left: 20px;
        width: fit-content;
        height: fit-content;
        text-align: center;
        padding: 10px;
    }

    #project1{
        margin-left: 175px;
        width: 1300px;
        height: 400px;
        border: 8px double black;
        background-image: linear-gradient(
            rgba(232, 102, 236, 0.3) 0%,
            rgba(232, 102, 236, 0.6) 100%
            );

            #surf {
                margin-top: 300px;
                background-color: #9da3b6;
                height: fit-content;
                width: fit-content;
                padding: 10px;

            }
            
            h3{
                font-size: 175%;
            }
      
    }

    #project2{
        margin-left: 175px;
        width: 400px;
        height: 250px;
        border: 8px double black;
        background-image: linear-gradient(
            rgba(102, 236, 120, 0.3) 0%,
            rgba(102, 236, 120, 0.6) 100%
            );

            #led {
                margin-top: 150px;
                background-color: #9da3b6;
                height: fit-content;
                width: fit-content;
                padding: 10px;

            }
            
            h3{
                font-size: 175%;
            }
    }
        
    #project3{
        margin-left: 35px;
        width: 400px;
        height: 250px;
        border: 8px double black;
        background-image: linear-gradient(
            rgba(236, 102, 120, 0.3) 0%,
            rgba(236, 102, 120, 0.6) 100%
            );

            #calc {
                margin-top: 150px;
                background-color: #9da3b6;
                height: fit-content;
                width: fit-content;
                padding: 10px;

            }
            
            h3{
                font-size: 175%;
            }
        

    }

    #project4{
        margin-left: 35px;
        width: 400px;
        height: 250px;
        border: 8px double black;
        background-image: linear-gradient(
            rgba(111, 102, 236, 0.3) 0%,
            rgba(111, 102, 236, 0.6) 100%
            );

            #pastel {
                margin-top: 150px;
                background-color: #9da3b6;
                height: fit-content;
                width: fit-content;
                padding: 10px;

            }
            
            h3{
                font-size: 175%;
            }
        

    }

    #project5{
        margin-left: 175px;
        width: 1300px;
        height: 150px;
        border: 8px double black;
        background-image: linear-gradient(
            rgba(222, 236, 102, 0.3) 0%,
            rgba(222, 236, 102, 0.6) 100%
            );

            #run {
                margin-top: 50px;
                background-color: #9da3b6;
                height: fit-content;
                width: fit-content;
                padding: 10px;

            }
            
            h3{
                font-size: 175%;
            }
        
    }
    section:hover {
        box-shadow: inset 0px 0px 8px
        rgba(232, 102, 236, 1), 0 0 15px
        rgba(232, 102, 236, 1);

    }
}


/* This styles the "Contact Me" section */
.contactme{
display: flex;

    h2 {font-size: 300%;
        padding: 10px;
        padding-left: 56px;
        border-right: 5px solid #192138;
    }
}

/* This styles the contact onfo side (right) of contact section */
.contactinfo{
    height: 500px;
}